header {
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 600;
  padding: 0.5em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
header h1 {
  font-size: 20px;
}
header h1 .family-name {
  display: none;
}
header a:hover,
header a.selected {
  border-bottom: 1px solid #dc854f;
}
header a {
  text-decoration: none;
  color: #dc854f;
  padding-right: 5px;
}
@media screen and (min-width: 420px) {
  header h1 {
    font-size: 30px;
  }
  header h1 .family-name {
    color: #777777;
    display: inline;
  }
}
