body,
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #aaaaaa;
  color: #000000;
  font-size: 16px;
  margin: 0;
  height: 100%;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
ul {
  margin: 0;
}
.clear {
  clear: both;
}
.home-top {
  height: 100%;
}
.home-top .narrow-content .top-banner img {
  width: 100%;
}
.home-top .narrow-content .social-links {
  padding: 10px 10px 5px 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}
.home-top .narrow-content .social-links div {
  display: inline-block;
}
.home-top .narrow-content .social-links div img {
  border: none;
}
.blog-posts h3 {
  padding: 0.6em;
  color: #dc854f;
  background-color: #ffffff;
}
.blog-posts ul.links {
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.7);
}
.blog-posts ul.links li {
  margin: 0.5em;
}
.blog-posts ul.links li a {
  font-size: 20px;
  text-decoration: none;
  color: #dc854f;
}
/*@media screen and (min-width:420px) {
    .home-top {
        .narrow-content {
            width: 200px;

            h1 {
                font-size: (@grid*4);
            }
        }
    }
}*/
@media screen and (min-width: 760px) {
  /*.home-top {
        .narrow-content {
            width: 300px;

            h1 {
                font-size: (@grid*4);
            }

            h2 {
                display: block;
                background: @transWhite80;
                color: @darkerGray;
                padding: @grid;
                text-align: center;
                font-weight: 400;
                font-size: (@grid*2);
                margin: 0 @grid @grid @grid;
            }
        }
    }*/
}
@media screen and (min-width: 1300px) {
  .home-top .narrow-content {
    /*width: 500px;*/
  }
  .home-top .narrow-content h1 {
    font-size: 60px;
  }
  .home-top .narrow-content h2 {
    font-size: 40px;
  }
}
