<section class="main-page">
    <section class="home-top home-section">
        <div class="narrow-content" itemscope itemtype="http://schema.org/Person">
            <div class="top-banner">
                <div>
                    <img src="//az388900.vo.msecnd.net/photos/ehden_ny2015.jpg" alt="Guy Shahine" />
                </div>
            </div>
            <meta itemprop="image" name="image" content="http://az388900.vo.msecnd.net/photos/main.jpg" />
            <meta itemprop="jobTitle" content="Cofounder of Resoltz.com" />
        </div>
    </section>
</section>