<section class="main-page">
  <section class="home-top home-section">
    <div class="narrow-content" itemscope itemtype="http://schema.org/Person">
      <div class="top-banner">
        <img class="main-page-top-image" src="//az388900.vo.msecnd.net/photos/ehden_ny2015.jpg" alt="Guy Shahine" />

        <div class="main-page-profile-info">
          <h1>Guy Shahine</h1>
          <h2>Co-founder &amp; CTO of <a href="https://www.resoltz.com">resoltz.com</a></h2>
        </div>

      </div>
      <meta itemprop="image" name="image" content="http://az388900.vo.msecnd.net/photos/main.jpg" />
      <meta itemprop="jobTitle" content="Co-founder of www.resoltz.com" />
    </div>
  </section>
</section>