@section header {
  <script type="application/ld+json">
    {
    "@@context": "http://schema.org/",
    "@@type": "Person",
    "name": "Guy Shahine",
    "givenName": "Guy",
    "familyName": "Shahine",
    "birthPlace": "Ehden, Lebanon",
    "url": "http://gshahine.com",
    "homeLocation": "San Francisco, CA"
    "image": "http://az388900.vo.msecnd.net/photos/main.jpg",
    "jobTitle": "Co-founder/CTO of Resoltz Inc.",
    "telephone": "4242-EHDEN-1 (424-234-3361)"
    }
  </script>
}

<section class="main-page">
  <section class="home-top home-section">
    <div class="narrow-content">
      <div class="top-banner">
        <img class="main-page-top-image" src="//az388900.vo.msecnd.net/photos/ehden_ny2015.jpg" alt="Guy Shahine" />
        <div class="main-page-profile-info">
          <h1>Guy Shahine</h1>
          <h2>Co-founder/CTO of <a href="https://www.resoltz.com">resoltz.com</a></h2>
        </div>
      </div>
    </div>
  </section>
</section>
