<section class="main-page">
    <section class="home-top home-section">
        <div class="narrow-content" itemscope itemtype="http://schema.org/Person">
            <div class="top-banner">
                <div>
                    <img src="//az388900.vo.msecnd.net/photos/ehden_ny2015.jpg" alt="Guy Shahine" />
                </div>
            </div>
            <!-- <div itemprop="homeLocation" itemscope itemtype="http://schema.org/Place">
                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <span itemprop="addressLocality">Seattle</span>,
                    <span itemprop="addressRegion">WA</span>
                    <span itemprop="addressCountry">USA</span>
                </div>
            </div>-->
            
   @*         <div class="social-links">
                <div>
                    <a itemprop="email" href="mailto:hi@gshahine.com">
                        <img alt="Email Icon"
                             src="http://az388900.vo.msecnd.net/images/social/email.png" />
                    </a>
                </div>
                <div itemprop="contactPoint" itemscope itemtype="http://schema.org/ContactPoint">
                    <meta itemprop="name" name="name" content="blog" />
                    <a class="cta blog" itemprop="url" title="Blog"
                       href="http://blog.gshahine.com" target="_self">
                        <img alt="Wordpress Icon"
                             src="http://az388900.vo.msecnd.net/images/social/wordpress.png" />
                    </a>
                </div>
                <div itemprop="contactPoint" itemscope itemtype="http://schema.org/ContactPoint">
                    <meta itemprop="name" name="name" content="linkedin" />
                    <a class="cta linkedin" itemprop="url" title="Linkedin"
                       href="http://www.linkedin.com/in/gshahine"
                       target="_self">
                        <img alt="Linkedin Icon"
                             src="http://az388900.vo.msecnd.net/images/social/linkedin.png" />
                    </a>
                </div>
                <div itemprop="contactPoint" itemscope itemtype="http://schema.org/ContactPoint">
                    <meta itemprop="name" name="name" content="twitter" />
                    <a class="cta twitter" itemprop="url" title="Twitter"
                       href="http://twitter.com/gshahine"
                       target="_self">
                        <img alt="Twitter Icon"
                             src="http://az388900.vo.msecnd.net/images/social/twitter.png" />
                    </a>
                </div>
                <div class="clear"></div>
                <!--  <div itemprop="contactPoint" itemscope itemtype="http://schema.org/ContactPoint" class="stack-overflow">
                    <a itemprop="url" href="http://stackoverflow.com/users/311701/guy">
                        <img itemprop="image" width="208" height="58"
                            title="profile for Guy at Stack Overflow, Q&amp;A for professional and enthusiast programmers"
                            alt="profile for Guy at Stack Overflow, Q&amp;A for professional and enthusiast programmers"
                            src="http://stackoverflow.com/users/flair/311701.png?theme=dark " />
                    </a>
                </div>-->
            </div>*@
            <meta itemprop="image" name="image" content="http://az388900.vo.msecnd.net/photos/main.jpg" />
            <meta itemprop="jobTitle" content="Senior Software Development Lead" />
        </div>

    </section>
    @*
   <section class="blog-posts">
        <h3>Recent Blog Posts</h3>
        <ul class="links">
            <li>
                <a href="http://blog.gshahine.com/moving-my-wordpress-blog-without-losing-any-content/">Moving my wordpress blog without losing any content</a>
            </li>
            <li>
                <a href="http://blog.gshahine.com/dont-be-a-turkey">Don't be a turkey</a>
            </li>
        </ul>
    </section>*@
</section>