<section class="now-page">
    <div class="now-page-section-one">
        <h1>Now</h1>

        My name is <a href="https://twitter.com/mrchlela" target="_blank">Guy Shahine</a> and here's what I'm doing now:

        <ul>
            <li>Cofounding a Fitness startup <a href="https://www.resoltz.com/">www.resoltz.com</a></li>
            <li>Reading <a href="http://www.amazon.com/gp/product/038534936X/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=038534936X&linkCode=as2&tag=resoltz01-20&linkId=ZOXNCRXBQQIFYB5U" target="_blank">Creative Confidence</a> book</li>
            <li>Running in beautiful San Francisco Presidio Park every Saturday at 10am. <a href="https://www.strava.com/activities/444871825" target="_blank">Here's a link to route</a></li>
            <li>Working out at home</li>
        </ul>

        The /now page movement has been inspired by <a href="https://sivers.org/nowff" target="_blank">Derek Sievers.</a>

        Last update: December 2015
    </div>
</section>
