@{
  ViewData["Title"] = "Error";
}

@section head {
  <link rel="canonical" href="http://gshahine.com/error" />
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>