<header>
  <ul class="horizontal list-inline">
    <li><h1><a href="/"><span>GUY</span><span class="family-name">SHAHINE</span></a></h1></li>
    <li><a href="http://blog.gshahine.com/">BLOG</a></li>
    <li><a href="http://www.linkedin.com/in/gshahine">LINKEDIN</a></li>
    <li><a href="mailto:guy@gshahine.com">CONTACT</a></li>
  </ul>
</header>
