@{
  ViewData["Title"] = "Guy Shahine";
}

@section head {
  <link rel="canonical" href="http://gshahine.com" />
  <script async custom-element="amp-instagram" src="https://cdn.ampproject.org/v0/amp-instagram-0.1.js"></script>

  <script type="application/ld+json">
    {
    "@@context": "http://schema.org/",
    "@@type": "Person",
    "name": "Guy Shahine",
    "givenName": "Guy",
    "familyName": "Shahine",
    "image": "http://az388900.vo.msecnd.net/photos/main.jpg",
    "jobTitle": "Co-founder/CTO of Resoltz Inc.",
    "telephone": "4242-EHDEN-1 (424-234-3361)",
    "address": {
    "@@type": "PostalAddress",
    "addressLocality": "San Francisco",
    "addressRegion": "CA",
    "postalCode": "94123",
    "addressCountry": "USA"
    }
    }
  </script>


  <style amp-custom>
    body {
      font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    }

    a {
      color: yellowgreen;
      text-decoration: none;
    }

    .container {
      box-sizing: border-box;
      margin: 0 auto;
      max-width: 1000px;
      padding: 0 20px;
    }

    .ui.inverted.link.list .item, .ui.inverted.link.list a.item, .ui.inverted.link.list .item a:not(.ui) {
      color: rgba(255, 255, 255, 0.5);
    }

    .masthead {
      position: relative;
      color: #fff;
      min-height: 700px;
      padding: 1em 0em;
      background-position: right center;
      background-repeat: no-repeat;
      background-image: url('//az388900.vo.msecnd.net/photos/ehden_ny2015.jpg');
      background-size: cover;
    }

      .masthead .banner-call-to-action {
        position: relative;
      }

    .ui.curtain {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.5);
    }

    h1.ui.header {
      font-size: 3em;
      margin-top: 2em;
      margin-bottom: 1em;
      font-weight: normal;
    }

      h1.ui.header.banner {
        margin-bottom: 0;
      }

    .row {
      margin-bottom: 3em;
    }

    .footer.segment {
      text-align: left;
      color: #fff;
      background-color: #1B1C1D;
      padding: 5em;
    }

      .footer.segment a {
        display: block;
      }

    @@media only screen and (min-width: 500px) {
      .footer-column {
        position: relative;
        display: inline-block;
        width: 25%;
        padding-left: 1rem;
        padding-right: 1rem;
        vertical-align: top;
      }
    }

    @@media only screen and (min-width: 700px) {
      .ui.list .list > .item, .ui.list > .item, ol.ui.list li, ul.ui.list li {
        display: list-item;
        table-layout: fixed;
        list-style-type: none;
        list-style-position: outside;
        padding: .21428571em 0;
        line-height: 1.14285714em;
      }

        .ui.list > .item:after, .ui.list > .list > .item, ol.ui.list > li:first-child:after, ul.ui.list > li:first-child:after {
          content: '';
          display: block;
          height: 0;
          clear: both;
          visibility: hidden;
        }

      .insta-post {
        width: 33%;
        display: inline-block;
      }

      .footer-column {
        width: 18%;
      }
    }

    @@media only screen and (min-width: 1200px) {
      .masthead h1.ui.header {
        margin-top: 3em;
        font-size: 4em;
      }
    }
  </style>

}

<!-- Following Menu -->
@*<div class="ui large top fixed hidden menu">
    <div class="ui container">
      <a href="/" class="active item">Home</a>
      <a class="item">Work</a>
        <a class="item">Company</a>
        <a class="item">Careers</a>
      <div class="right menu">
        <div class="item">
            <a class="ui button">Log in</a>
          </div>
          <div class="item">
            <a class="ui primary button">Sign Up</a>
          </div>
      </div>
    </div>
  </div>*@

<!-- Sidebar Menu -->
@*<div class="ui vertical inverted sidebar menu">
    <a href="/" class="active item">Home</a>
    <a class="item">Work</a>
      <a class="item">Company</a>
      <a class="item">Careers</a>
    <a class="item">Login</a>
      <a class="item">Signup</a>
  </div>*@

<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical masthead">
    <div class="ui curtain"></div>

    @*<div class="ui container">
        <div class="ui large secondary inverted pointing menu">
          <a class="toc item">
            <i class="sidebar icon"></i>
          </a>
          <a href="/" class="active item">Home</a>
          <a class="item">Work</a>
          <a class="item">Company</a>
          <a class="item">Careers</a>
          <div class="right item">
            <a class="ui inverted button">Log in</a>
            <a class="ui inverted button">Sign Up</a>
          </div>
        </div>
      </div>*@

    <div class="ui text container banner-call-to-action">
      <h1 class="ui header banner">
        GUY SHAHINE
      </h1>
      <h2>Full stack software developer at <a href="https://www.resoltz.com">Resoltz</a></h2>
      @*<div class="ui huge primary button"><a href="http://blog.gshahine.com/" target="_blank">Blog <i class="right arrow icon"></i></a></div>*@
    </div>
  </div>

  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div>
        <h1 class="ui header">Instagram</h1>
      </div>
      <div class="row">
        <div class="insta-posts-container">
          <div class="insta-post">
            <amp-instagram data-shortcode="0GALdgscGX"
                           width="1"
                           height="1"
                           layout="responsive">
            </amp-instagram>
          </div>
          <div class="insta-post">
            <amp-instagram data-shortcode="BIGPcGWgG_u"
                           width="1"
                           height="1"
                           layout="responsive">
            </amp-instagram>
          </div>
          <div class="insta-post">
            <amp-instagram data-shortcode="BIxqPYAhANc"
                           width="1"
                           height="1"
                           layout="responsive">
            </amp-instagram>
          </div>
        </div>
      </div>
    </div>
  </div>


  @*<div class="ui vertical stripe quote segment">
      <div class="ui equal width stackable internally celled grid">
        <div class="center aligned row">
          <div class="column">
            <h3>"What a Company"</h3>
            <p>That is what they all say about us</p>
          </div>
          <div class="column">
            <h3>"I shouldn't have gone with their competitor."</h3>
            <p>
              <img src="" class="ui avatar image"> <b>Nan</b> Chief Fun Officer Acme Toys
            </p>
          </div>
        </div>
      </div>
    </div>*@

  @*<div class="ui vertical stripe segment">
      <div class="ui text container">
        <h3 class="ui header">Breaking The Grid, Grabs Your Attention</h3>
        <p>Instead of focusing on content creation and hard work, we have learned how to master the art of doing nothing by providing massive amounts of whitespace and generic content that can seem massive, monolithic and worth your attention.</p>
        <a class="ui large button">Read More</a>
        <h4 class="ui horizontal header divider">
          <a href="#">Case Studies</a>
        </h4>
        <h3 class="ui header">Did We Tell You About Our Bananas?</h3>
        <p>Yes I know you probably disregarded the earlier boasts as non-sequitur filler content, but its really true. It took years of gene splicing and combinatory DNA research, but our bananas can really dance.</p>
        <a class="ui large button">I'm Still Quite Interested</a>
      </div>
    </div>*@

  <div class="ui footer segment">
    <div class="ui container">
      <div class="ui grid">
        <div class="footer-column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="mailto:hi@gshahine.com" target="_blank" class="item" rel="nofollow">Contact</a>
            <a href="http://blog.gshahine.com/" target="_blank" class="item">Blog</a>
          </div>
        </div>
        <div class="footer-column">
          <h4 class="ui inverted header">Social</h4>
          <div class="ui inverted link list">
            <a href="https://facebook.com/gshahine" target="_blank" class="item" rel="nofollow">Facebook</a>
            <a href="https://twitter.com/mrchlela" target="_blank" class="item" rel="nofollow">Twitter</a>
            <a href="https://instagram.com/mrchlela" target="_blank" class="item" rel="nofollow">Instagram</a>
          </div>
        </div>
        <div class="footer-column">
          <h4 class="ui inverted header">Professional</h4>
          <div class="ui inverted link list">
            <a href="http://www.linkedin.com/in/gshahine" target="_blank" class="item" rel="nofollow">LinkedIn</a>
            <a href="https://github.com/chlela" target="_blank" class="item" rel="nofollow">Github</a>
          </div>
        </div>
        <div class="footer-column">
          <h4 class="ui inverted header">Stackoverflow</h4>
          <a href="http://stackexchange.com/users/119754/guy" target="_blank" class="item" rel="nofollow">
            <amp-img src="https://stackexchange.com/users/flair/119754.png" width="208" height="58" alt="profile for Guy Shahine on Stack Exchange" title="profile for Guy Shahine on Stack Exchange" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
