@{
  ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

@section head {
  <link rel="canonical" href="http://gshahine.com/contact" />
}

<address>
  <strong>Support:</strong> <a href="mailto:support@gshahine.com">support@gshahine.com</a><br />
  <strong>Marketing:</strong> <a href="mailto:marketing@gshahine.com">marketing@gshahine.com</a>
</address>
