@section header {
  <script type="application/ld+json">
    {
    "@@context": "http://schema.org/",
    "@@type": "Person",
    "name": "Guy Shahine",
    "givenName": "Guy",
    "familyName": "Shahine",
    "image": "http://az388900.vo.msecnd.net/photos/main.jpg",
    "jobTitle": "Founder & CTO of CHLELA INC.",
    "telephone": "4242-EHDEN-1 (424-234-3361)",
    "address": {
    "@@type": "PostalAddress",
    "addressLocality": "San Francisco",
    "addressRegion": "CA",
    "postalCode": "94123",
    "addressCountry": "USA"
    }
    }
  </script>
}

<section class="main-page">
  <section class="home-top home-section">
    <div class="narrow-content">
      <div class="top-banner">
        <img class="main-page-top-image" src="/images/ehden_ny2015.jpg" alt="Guy Shahine" />
        <div class="main-page-profile-info">
          <h1>Guy Shahine</h1>
          <h2>Founder/CTO of <a href="https://www.chlela.com">CHLELA INC.</a></h2>
        </div>
      </div>
    </div>
  </section>
</section>
